<div class="main-header">
    <h3>スケジュール一覧</h3>
    <p><%= link_to"新規追加", :new_user, class:"link" %></p>
</div>
<%if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<%end%>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>開始日</th>
                <th>終了日</th>
                <th>終日</th>
                <th>更新日時</th>
                <th>スケジュール詳細</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.title%></td>
                <td><%=user.start_day.to_s(:date_jp)%></td>
                <td><%=user.end_day.to_s(:date_jp)%></td>
                <td><%=user.all_day%></td>
                <td><%=user.updated_at.to_s(:datetime_jp)%></td>
                <td><%= link_to "詳細へ", user %></td>
            </tr>
        <%end%>
        </tbody>
    </table>
</div>
